@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-text-color: rgb(46, 31, 16);
  --main-bg-color: #bccbba;
  --icon-link-border: rgb(46, 31, 16);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", "Montserrat", sans-serif;
  transition: 1.5s ease;
}

.font-sm {
  font-size: small;
}
Link:active {
  color: var(--main-text-color);
}

.logo {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 2rem;
}
.search-input input {
  width: 0px;
  border: none;
  background-color: transparent;
  transition: 0.5s;
}
.search-input input:focus {
  width: 100px;
  border: none;
  outline: none;
  transition: 0.5s;
}

.navlink,
.navlink:active {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  cursor: pointer;
}
.navlink:hover {
  transition: 0.3s;
  color: #ffffff;
}
.text-color {
  color: var(--main-text-color);
}
.bgc-main {
  background-color: var(--main-bg-color);
}

.text-gray {
  color: rgba(126, 126, 126);
}
.star:hover {
  color: #fac71f;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: small;
  cursor: pointer;
}
.icon-link:hover,
.icon-link:active {
  border-right: solid 2px var(--icon-link-border);
  background-color: #f0f0f0;
  transform: translate(2px, 0px);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #bcbbbb;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.card-credit {
  min-width: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(0deg, #6c6c6c, #f7ffff);
  background-attachment: fixed;
  cursor: pointer;
}
.masterlogo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #de1919;
  box-shadow: 20px 0px 0 0px rgb(255, 162, 0);
  position: relative;
  margin-left: 1rem;
}
.masterlogo::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 90%;
  clip-path: ellipse(50% 50% at 115% 50%);
  background-color: #f86635;
}

